/* h1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: rgb(66, 66, 66);
} */

/* .header-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
} */