header {
    background-color: rgb(0, 0, 0);
    color: rgb(136, 107, 54);
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    viewport-fit: cover;
    justify-content: space-around;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    z-index: 1;
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

header > img {
    width: 100px;
    margin: 15px 0;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px 0 rgb(136, 107, 54), 0 6px 12px 0 rgb(159, 163, 162);
}

header > ul {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-top: 50px;
}

ul > li a {
    color: rgb(136, 107, 54);
    font-size: large;
    text-decoration: none;
}

ul > li a:hover {
    color: rgb(159, 163, 162);
    text-decoration: underline;
}

.navLink {
    padding-left: 25px;
    list-style-type: none;
}

@media (max-width: 320px) {
  header {
      background-color: rgb(0, 0, 0);
      color: rgb(136, 107, 54);
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-around;
      font-family: 'Oxygen', sans-serif;
      font-weight: 700;
      z-index: 1;
      box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
      width: cover;
    }

    header > img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media (max-width: 375px) {
    header {
      background-color: rgb(0, 0, 0);
      color: rgb(136, 107, 54);
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-around;
      font-family: 'Oxygen', sans-serif;
      font-weight: 700;
      z-index: 1;
      box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
      width: cover;
    }
  }
  
  @media (max-width: 480px) {
    header {
      background-color: rgb(0, 0, 0);
      color: rgb(136, 107, 54);
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-around;
      font-family: 'Oxygen', sans-serif;
      font-weight: 700;
      z-index: 1;
      box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
      width: cover;
    }
  }
  
  @media (max-width: 768px) {
    
  }
  
  @media (max-width: 1024px) {
    
  }
  
  @media (max-width: 1200px) {
    
  }